        <div class="loader">
            <center>
               <img class="loading-image" src="/images/static_images/loader/loader.gif" alt="loading..">
            </center>
        </div>
    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/jquery/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/js/jquery/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom-additional-methods.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/common.js"></script>
    </script>
</body>
</html>